<%= form_with(model: blog, class: "contents") do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul class="list-disc ml-6">
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, class: "block mb-2 font-medium" %>
    <%= form.text_field :title, class: "block w-full rounded-md border border-gray-200 outline-none px-3 py-2 shadow-sm" %>
  </div>

  <div class="my-5">
    <%= form.label :content, class: "block mb-2 font-medium" %>
    <%= form.text_area :content, class: "block w-full rounded-md border border-gray-200 outline-none px-3 py-2 shadow-sm" %>
  </div>

  <div class="my-5">
    <%= form.label :image, class: "block mb-2 font-medium" %>
    <%= form.file_field :image, class: "block w-full rounded-md border border-gray-200 outline-none px-3 py-2 shadow-sm" %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
